* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.email-form {
    background-color: rgb(220, 214, 214);
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 30px;
    border-radius: 10px;
}

.email {
    margin-left: 20%;
    margin-top: 5%;
}

.h1 {
    text-align: center;
}