<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>게시글 정보</title>
    <script src="../static/js/testarticle.js"></script>
    <script src="../components/urls.js"></script>

    <script src="../static/js/comment.js"></script>

</head>

<body>
    <h1>게시글 정보</h1>
    <p>
        <img id="album-cover" src="" alt=""><br>
    </p>
    <p>
        ID: <span id="id"></span>
    </p>
    <p>
        제목: <span id="title"></span>
    </p>
    <p>
        작성자: <span id="user"></span>
    </p>
    <p>
        곡명: <span id="music_id"></span>
    </p>
    <p>
        내용: <span id="content"></span>
    </p>
    <p>
        장르: <span id="genre"></span>
    </p>

    <div class="container text-center mt-5">

        <h1 class="mb-5">댓글</h1>
        <div class="row row-cols-1 row-cols-md-2">

            <div id="comment-image" class="col"></div>

            <div class="card" style="padding: 10px 10px 10px 10px; width: 100%; flex-direction: column;">

                <div>
                    <img style="width: 200px;" src="" alt="" id="use_emoticon">
                </div>

                <div>
                    <input type="text" class="form-control" placeholder="댓글 입력" id="comment_content"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" style="width: 105px;" type="button"
                        onclick="emoticonButtonList('user_emoticon_list' , 'emoticon_popup', 'emoticonbtn', 'emoticon_images', 'use_emoticon')"
                        id="emoticonbtn">이모티콘</button>
                    <button class="btn btn-outline-secondary" style="width: 70px;" type="button"
                        id="comment_create">등록</button>
                </div>

                <div alt="Images" id="image">
                </div>
            </div>
            
            <div></div>

            <div style="height: 0px;">
                <div class="card text-center;" style="position: relative; z-index: 1; margin-top: -17px; display: none;"
                    id="emoticon_popup"> <!--이모티콘-->
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="user_emoticon_list"></ul>
                    </div>
                    <div class="row row-cols-5 row-cols-md-5" style="overflow-y: scroll; height: 220px;"
                        id="emoticon_images">
                    </div>
                </div>
            </div>

        </div>
        <div class="row row-cols-1 row-cols-md-1" id="comment">
        </div>
    </div>
    {% comment %} <script src="../static/js/header.js"></script> {% endcomment %}

</body>

</html>
