<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../components/urls.js"></script>
    <script src="../static/js/api.js"></script>
    <title>로그인</title>
</head>

<body>
    <h1>로그인 페이지</h1>
    <form>
        <input type="username" name="username" id="username" placeholder="username">
        <input type="password" id="password" name="password" placeholder="password">
        <button type="button" onclick="handleLogin()">제출</button>
    </form>
    <button type="button" onclick="handleLogout()">로그아웃</button>
</body>

</html>
