<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../components/urls.js"></script>
    <script src="../static/js/api.js"></script>
    <title>대신러닝 | 로그인</title>
</head>

<body>
    <h1>로그인 페이지</h1>
    <form>
        <!-- <input type="email" name="email" id="email" placeholder="email"> -->
        <input type="username" name="username" id="username" placeholder="username">
        <input type="password" id="password" name="password" placeholder="password">
        <button type="button" onclick="handleLogin()">제출</button>
        <!--type이 submit이면 get방식의 form태그로 받아져서 쿼리문(?email=&password=)으로 돌아감 -->
    </form>
    <!-- <script src="api.js"></script> -->
    <button type="button" onclick="handleMock()">모크api</button>
    <button type="button" onclick="handleLogout()">로그아웃</button>
    <script src="../static/js/header.js"></script>
</body>

</html>